version: "3.8"
name: lost

services:
  lost-db-resolver:
    container_name: lost-db-resolver
    image: janakj.net/lost/db
    restart: always
    shm_size: "256MB"
    environment:
      POSTGRES_PASSWORD: mLFC3YRH
    volumes:
      - db-resolver:/var/lib/postgresql/data
      - /run/postgresql/resolver:/run/postgresql

{% for name, node, attrs in servers() %}
{% set id = attrs['$path'].replace('/', '-') %}
  lost-db-{{ id }}:
    container_name: lost-db-{{ id }}
    image: janakj.net/lost/db
    restart: always
{% if attrs['profile'] %}
    profiles: [ {{ attrs['profile'] }} ]
{% endif %}
    shm_size: "256MB"
    environment:
      POSTGRES_PASSWORD: mLFC3YRH
    volumes:
      - db-{{ id }}:/var/lib/postgresql/data
      - /run/postgresql/server/{{ attrs['$path'] }}:/run/postgresql

  lost-server-{{ id }}:
    container_name: lost-server-{{ id }}
    image: janakj.net/lost/server
    restart: always
{% if attrs['profile'] %}
    profiles: [ {{ attrs['profile'] }} ]
{% endif %}
    environment:
      PORT: {{ attrs['$port'] }}
      SERVER_ID: "lost-server-{{ id }}"
{% if node['loadShapes'] %}
      LOAD_SHAPES: "{{ node['loadShapes'] }}"
{% endif %}
{% if node['osmId'] %}
{% set _ = ports.map(url_prefix + '/' + node['osmId'], "http://lost-server-" + id + ':' + str(attrs['$port'])) %}
      SERVICE_AREA: "{{ url_prefix }}/{{ node['osmId'] }}"
{% endif %}
      DB_URL: "user=lost-server host=/run/postgresql dbname=lost"
    ports:
      - "127.0.0.1:{{ attrs['$port'] }}:{{ attrs['$port'] }}"
    volumes:
      - /run/postgresql/server/{{ attrs['$path'] }}:/run/postgresql
    depends_on:
      - lost-db-{{ id }}

{% endfor %}
volumes:
  db-resolver:
    labels:
      role: resolver
{% for _, _, attrs in servers() %}
  db-{{ attrs['$path'].replace('/', '-')  }}:
    labels:
      role: server
{% endfor %}
